DATABASE_HOST=localhost
DATABASE_NAME=tasks
DATABASE_PORT=5432
DATABASE_USER=tasks
DATABASE_PASSWORD=secret
DATABASE_LOG=false
DATABASE_VOLUME=XXXXX

PORT=3000
JWT_SECRET_KEY=123
JWT_EXPIRES_IN=360000

STATIC_URL=http://localhost:3000

CRON_JOB=false

CACHE_ENABLED=true
CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_KEY=tasks-backend
CACHE_TTL_MINUTES=0
CACHE_PASSWORD=

NODE_ENV=development